html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
      }

      .options-box {
        overflow: scroll;
        position: absolute;
        top: 10px;
        left: 60%;
        z-index: 5;
        height:90%;
        background-color: #d7dae0;
        text: blue;
        padding: 0px;
        border: 1px solid #999;
        border-radius: 25px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

li {
        border: 1px solid #999;
        border-radius: 25px;
        padding: 5px;
        list-style-type: none;
        cursor:pointer;
  }